*
!.gitignore
!README.md
!*.py
!*.conf
!*.sh

!assets/
!assets/stopwords.txt
!assets/ffstory_id.txt

!story/
!story/*.py

!story_stats/

!tag_assignment/

!out/

!scripts/
!scripts/*
!main_scripts/

!test_set/
!test_set/**
test_set/test_stories

!tests/
!tests/*.py
